<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
    <a th:href="@{/users}">Back</a>
  <form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for="FullName">Full name</label>
    <input type="text" th:field="*{full_name}" id="FullName">
      <div style="color:red" th:if="${#fields.hasErrors('full_name')}" th:errors="*{full_name}"></div>
    <label for="Birthday">Birthday</label>
    <input type="number" th:field="*{birth}" id="Birthday"
           min="1900" max="2099" step="1">
      <div style="color:red" th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}"></div>
    <input type="submit" value="Send">
  </form>
</body>
</html>