<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Edit: '+${user.getFull_name()}"></title>
</head>
<body>
    <a th:href="@{/users/{id}(id=${user.getId()})}">Back</a>
  <form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="FullName">Full name</label>
    <input type="text" th:field="*{full_name}" id="FullName">
    <label for="Birthday">Birthday</label>
    <input type="number" th:field="*{birth}" id="Birthday"
           min="1900" max="2099" step="1">
    <input type="submit" value="Send">
  </form>
</body>
</html>