<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <a th:href="@{/}">Back</a>
    <div>
        <a th:href="@{/users/new}">Add new user</a>
    </div>
    <table th:unless="${users.isEmpty()}" >
        <tr th:each="user:${users}">
            <td><a th:text="${user.getFull_name()}" th:href="@{/users/{id}(id=${user.getId()})}"></a></td>
            <td th:text="${user.getBirth()}"></td>
        </tr>
    </table>
    <p th:if="${users.isEmpty()}">Empty</p>
</body>
</html>